:root {
  --mdc-shape-medium: 16px;
  --mdc-theme-primary: #6002ee;
}

noscript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

noscript > h2 {
  text-align: center;
  margin-bottom: 1em;
}

noscript > img {
  height: 60vh;
}

@media (max-width: 758px) {
  noscript > img {
    height: auto;
    width: 80vw;
  }
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header {
  top: 0;
}

main {
  width: 100vw;
  padding-bottom: 5rem;
  position: relative;
  top: 5rem;
}

main#login {
  top: 0;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  justify-content: center;
  justify-items: center;
}

.m-auto {
  margin: auto;
}

.green-button {
  background-color: #00c853 !important;
}

.red-icon-button {
  color: #f44336 !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding-left: 0;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .smui-card--padded,
  .smui-card__content,
  .smui-card__primary-action--padded {
    padding: 8px !important;
  }
}

.separator {
  width: 100%;
  border-bottom: lightgray solid 1px;
  margin: auto;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.spacer {
  height: 1em;
}

.mdc-menu-surface {
  border-radius: 4px !important;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.white {
  color: white;
}

.link {
  color: #3700b3;
}

.link:hover {
  color: #2f019b;
  text-decoration: underline;
}

#back-btn {
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}
