:root {
  --primary-color: #6002ee;
  --primary-attenuated-color: #7e3ff2;
  --text-color: #0f172a;
  --background-secondary: #ffffff;

  --mdc-theme-background: #fafafa;
  --mdc-theme-surface: #ffffff;
  --mdc-shape-medium: 16px;
  --mdc-theme-primary: #6002ee;
  --mdc-theme-primary-dark: #021aee;
  --mdc-theme-primary-attenuated: #7e3ff2;
  --mdc-theme-primary-light: #9c47ff;
  --mdc-theme-secondary: #7e3ff2;
  --mdc-shape-medium: 16px;
  --green: #00c853;
  --red: #f44336;
  --gray: #757575;
  --gray-light: #a3a3a3;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #ffffff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: #ffffff;
  --mdc-theme-text-secondary-on-dark: hsla(0, 0%, 100%, 0.7);
  --mdc-theme-text-hint-on-dark: hsla(0, 0%, 100%, 0.5);
  --mdc-theme-text-disabled-on-dark: hsla(0, 0%, 100%, 0.5);
  --mdc-theme-text-icon-on-dark: hsla(0, 0%, 100%, 0.5);

  --mdc-shape-small: 8px;
}

noscript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

noscript > h2 {
  text-align: center;
  margin-bottom: 1em;
}

noscript > img {
  height: 60vh;
}

@media (max-width: 758px) {
  noscript > img {
    height: auto;
    width: 80vw;
  }
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  background-color: var(--mdc-theme-background);
  color: var(--text-color);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

header {
  top: 0;
}

::-webkit-scrollbar {
  height: 0.4rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--mdc-theme-background); /* transparent */
}

::-webkit-scrollbar-thumb {
  background-color: var(--mdc-theme-primary);
  border-radius: 10rem;
  border: solid 4px var(--mdc-theme-background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mdc-theme-primary-dark);
}

::-webkit-scrollbar-track:horizontal {
  background-color: transparent;
  margin-inline: 0.5rem;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: hsla(0 0% 65% / 1);
  border: none;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: hsla(0 0% 55% / 1);
  border: none;
}

main,
footer {
  position: relative;
  top: 5rem;
}

main {
  margin-bottom: 5rem;
  min-height: 100vh;
}

main#login,
main#page404 {
  top: 0;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:disabled {
  color: #ccc;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  justify-content: center;
  justify-items: center;
}

.align-center {
  align-items: center;
  align-content: center;
}

.m-auto {
  margin: auto;
}

.green-icon-button {
  color: var(--green) !important;
}

.red-icon-button {
  color: var(--red) !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding-left: 0;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .smui-card--padded,
  .smui-card__content,
  .smui-card__primary-action--padded {
    padding: 12px !important;
  }
}

.spacer {
  height: 1em;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.dnd-item-active {
  z-index: 10 !important;
  outline: none !important;
  border-radius: 16px !important;
}

.dnd-item-active .item {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.dnd-active {
  outline: none !important;
}

.dnd-ref {
  background-color: var(--background-secondary) !important;
}

.capitalize {
  text-transform: capitalize;
}

.white {
  color: white;
}

.link {
  color: #3700b3;
}

.link:hover {
  color: #2f019b;
  text-decoration: underline;
}

.card {
  width: clamp(19.5rem, 50vw, 35rem);
  margin: auto;
  margin-top: 2em;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background-color: var(--background-secondary);
}

.mdc-chip {
  background-color: var(--mdc-theme-primary-attenuated);
  color: white;
}

.mdc-chip:hover {
  background-color: var(--mdc-theme-primary);
  color: white;
}

.chips-set {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  display: block;
}

.mdc-dialog {
  z-index: 120;
}

.mdc-dialog .mdc-dialog__content {
  padding-top: 0;
}

.mdc-button--raised {
  padding: 0px 16px;
  height: 42px;
}

.mdc-top-app-bar {
  z-index: 30;
}

.mdc-snackbar {
  bottom: 5.5rem;
}

.text-gray {
  color: var(--gray);
}

hr {
  border: none;
  border-bottom: solid rgba(163, 163, 163, 0.6) 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(241 245 249);
    --background-secondary: #1f2937;

    --mdc-theme-primary: #6d28d9;
    --mdc-theme-primary-dark: #5b21b6;
    --mdc-theme-primary-attenuated: #7e3ff2;
    --mdc-theme-primary-light: #9c47ff;
    --mdc-theme-secondary: #7e3ff2;
    --mdc-theme-background: #111827;
    --mdc-theme-surface: #111827;
    --mdc-theme-on-surface: white;
    --mdc-theme-text-primary-on-background: rgba(255, 255, 255, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.54);
    --mdc-theme-text-primary-on-background: rgba(255, 255, 255, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.54);
    --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-primary-on-light: rgba(255, 255, 255, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(255, 255, 255, 0.54);
    --mdc-theme-text-hint-on-light: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-icon-on-light: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-primary-on-dark: #ffffff;
    --mdc-theme-text-secondary-on-dark: hsla(0, 0%, 100%, 0.7);
    --mdc-theme-text-hint-on-dark: hsla(0, 0%, 100%, 0.5);
    --mdc-theme-text-disabled-on-dark: hsla(0, 0%, 100%, 0.5);
    --mdc-theme-text-icon-on-dark: hsla(0, 0%, 100%, 0.5);
  }

  .mdc-button {
    color: var(--mdc-theme-primary-light) !important;
  }

  .mdc-button--raised {
    color: var(--mdc-theme-on-primary, #ffffff) !important;
  }

  .mdc-menu .mdc-deprecated-list {
    color: rgba(255, 255, 255, 0.87);
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgba(255, 255, 255, 0.87);
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(255, 255, 255, 0.6);
  }

  .smui-text-field--standard:not(.mdc-text-field--disabled)
    .mdc-line-ripple::before {
    border-bottom-color: rgba(255, 255, 255, 0.42);
  }

  .smui-text-field--standard:not(.mdc-text-field--disabled):hover
    .mdc-line-ripple::before {
    border-bottom-color: rgba(255, 255, 255, 0.87);
  }

  .mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
    color: rgba(255, 255, 255, 0.6);
  }

  .mdc-select:not(.mdc-select--disabled) .mdc-select__dropdown-icon {
    fill: rgba(255, 255, 255, 0.54);
  }

  .smui-select--standard:not(.mdc-select--disabled) .mdc-line-ripple::before {
    border-bottom-color: rgba(255, 255, 255, 0.42);
  }

  .smui-select--standard:not(.mdc-select--disabled):hover
    .mdc-line-ripple::before {
    border-bottom-color: rgba(255, 255, 255, 0.87);
  }

  .mdc-select--filled:not(.mdc-select--disabled) .mdc-select__anchor {
    background-color: #1f2937;
  }

  .mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
    color: rgba(255, 255, 255, 0.87);
  }

  .mdc-radio
    .mdc-radio__native-control:enabled:not(:checked)
    + .mdc-radio__background
    .mdc-radio__outer-circle {
    border-color: rgba(255, 255, 255, 0.54);
  }

  .edit-icon-button {
    color: rgba(255, 255, 255, 0.35);
  }
}
